@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container{
    width: 992px;
    box-sizing: border-box;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px 0 0 0;
    
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h2
{
    font-size: large;
    margin-top: 0px;
    font-weight: bold;
}

/* Navigation */

#nav-mobile{
    display: none;
}

nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
   
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav li{
    margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: red;
    border: 1px solid white;
    border-radius: 10px 10px;
    padding: 10px;
}

#toggle-btn {
    display: none;
    width: 48px;
    height: 48px;
}

.panier{
    font-size: x-large;
    display: flex;
    justify-content: space-between;

}

.fa1{
    margin: 15%;
}
sup{
    font-size: x-small;
}
#count{
    position: absolute;
    top: 45px;
    right: 135px;
    bottom: auto;
    left: auto;
    background-color: red;
    color: white;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding-bottom: 2px;
    margin-bottom: 20px;
    text-align: center;
}

/* Home section */

.home{
    box-sizing: border-box;
    display: flex;
}

.texte{
    width: 60%;
}

div.texte p:last-child{
    padding: 5%;
    font-size: large;
}

.hero{

   width: 40%;
   
}

.hero-img{
    width: 100%;
    box-sizing: border-box;
}

.font-black{
    font-size: x-large;
    font-weight: bold;
}

.title{
    font-size: x-large;
}

.faim{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}

.btn-commande{
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    padding: 10px;
    width: 50%;
    border: none;
    font-size: large;
    font-weight: bold;
    transition: transform .4s;
    cursor: pointer;
}

.btn-commande i{
    font-size: large;
    font-weight: bold;
}

.btn-commande:hover{
    background-color: rgb(27, 21, 110);
    transform: scale(1.2);
}

.deliver{
   display: flex;
   align-items: stretch;
}

.fa-care{
    margin-right: 50px;
}

.fa-red{
    display: inline-flex;
    background-color: red;
    color: white;
    margin-right: 2px ;
    padding: 5px;
    border-radius: 100%;
}


/* Service section */

.services{
    margin-top: 5%;
}

.svc{
    width: 50%;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(251, 117, 117);
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    margin: 1%;
    padding: 1%;
}

.categories-mobiles{
    display: none;

}

.category:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
    cursor: pointer;
}

div.category img{
   width:20%;
}

.service-description{
    margin: 10% 0 0 0;
    text-align: center;
}

.title-red{

    color: red;
}

.service-part{
    display: flex;
    flex-direction: row;
    margin: 5% 0 0 0;
    
}

.service{
    text-align: center;
    margin: 5%;
}

.service-livraison{
    margin-left: 0;
}

.service-ramassage{
    margin-right: 0;
}


/* Section Pizza Popular Food  */
.popular-food{
    border: 2px solid pink;
}

.foods{
    margin-top: 2%;
}

.title-popular{
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
}

nav.nav-foods{
    display: flex;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 15px;
    width: 100%;
}
nav.nav-foods button{
    width: 5%;
    margin: auto 0;
    padding: 5px;
}
nav.nav-foods ul li{
    align-items: center;
    font-size: smaller;
    margin: 0;
    
}

nav.nav-foods ul li a{
    color: white;
    border: none;
    cursor: pointer;
}
.list-img{
    width: 15px;
}

#btn-all{
    font-size: large;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.burgers-desktop{
    margin: 1%;
}

.burgers-mobile{
    display: none;
}

.burgers-desktop img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}
.row1, .row2{
    box-sizing: border-box;
    display: flex;
}

.row1{
    margin-bottom: 1%;
}

.burger{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
}


div.burger img{
    width: 50%;
}

.hoot-pizzas{
    box-sizing: border-box;
    display: flex;
    margin: 1%;
}

.hoot-pizzas img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}

.pizza{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 30%;
}


div.pizza img{
    width: 50%;
}

.drinks{
    box-sizing: border-box;
    display: flex;
    margin: 1%;
}

.drinks img{
    width: 250px;
    height: 250px;
}

.drinks img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}

.drink{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 30%;
    transition: transform .4s
}



.cart{
    display: flex;
    justify-content: space-between;
}


.price{
    font-size: larger;
    font-weight: bold;
    color: red;
}

.btn-cart{
    background-color: red;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 10px 25px;
    cursor: pointer;
}


/* Footer */
footer{
    background-color: rgb(243, 113, 113);
    box-sizing: border-box;
    margin-top: 3%;
    width: 100%;
}

.footer1{

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 992px;
}

.eat-drink, .hour-deliver, .contact, .newsletter{
    width: 25%;
}

div.eat-drink h2{
    font-size: large;
    margin: 0;

}

.hour-deliver{
    margin-left: 50px;
}

div.hour-deliver h2{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 5px;
}


.desc{
    font-size: small;
    margin: 0;
}

.date{

    font-weight: bold;
    margin: 0;
}
.femme, .hour{
    font-size: x-small;
    margin-top: 0;
}
/* .contact{
    margin-left: -5px;
} */
div.contact h2{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 5px;
}

.yde{
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.phone, .eatdrink{
    font-size: small;
    font-weight: bold;
}

.phone{
    margin-bottom: 0;
}

div.newsletter h2{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 5px;
}

.news{
    font-size: small;
}
.phone-email{
    font-weight: bold;
    font-size: smaller;
}

input{
    font-size: larger;
    text-align: center;
    width: 100%;
    padding: 3%;
    border: 1px solid white;
    border-radius: 25px 25px;
}

hr{
   width: 80%;
   margin-left: 135px;
}

.separateur-social{
    display: flex;
    flex-direction: column;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    margin-top: 0;
}

div.social ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

div.social ul li a{
    color: white;
    background-color: red; 
    border: none;
    border-radius: 40%;
    padding: 0;
}

/* Gestion du responsive sur tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {

    body{
        background-color: blue;
        width: auto;
    }

    
}

/* Gestion du responsive sur telephone */
@media screen and (max-width: 767px) {
        
    body{
        background-color: yellow;
    }

    .container{
        width: 100%;
        margin: auto 0;
        padding: 0 10%;
    }

    /* Header */

    .fa1{
        margin: 10%;
    }

    #nav-desktop{
        display: none;
    }
    
    #count {
        position: absolute;
        top: 33px;
        right: 100px;
        bottom: auto;
        left: auto;
        background-color: red;
        color: white;
        border: none;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-bottom: 20px;
        font-weight: bolder;
        text-align: center;
    }

    #toggle-btn {
        display:block ;
    
    }

    #toggle-btn:hover{

    }

    /* #toggle-btn:hover{

    } */

    /* Home section */

    .home{
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        align-items: center;
        
    }

    .texte{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .font-black{
        font-size: large;
        font-weight: bold;
    }
    
    .title{
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: larger;
    }
    
    .faim{
        text-transform: uppercase;
        font-size: larger;
        font-weight: bold;
        color: red;
    }

    div.texte p:nth-child(3){
        text-align: center;
    }

    .hero{

        width: 100%;
    
    }

    .btn-commande{
        border-radius: 25px;
        align-self: center;
        margin: 25px 0 50px 0;
        font-size: large;
        font-weight: bold;
        border: none;
        transition: transform .4s;
        cursor: pointer;
        width: 70%;
    }
    .btn-commande i{
        font-size: large;
        font-weight: bold;
    }

    .deliver{
        display: flex;
        align-items: stretch;
     }
     .fa-care{
       margin-right: 60px;
     }
     
     .fa-care, .fa-checke{
       font-size: small;
       
     }

   
    /* Categories Services Section */
   
    .categories-desktop{
        display: none;

    }

    .categories-mobiles{
        display: block;
    
    }

    .categories{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cat-burger{
        margin-right: 10px ;
        margin-bottom: 10px;
    }

    .category {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(251, 117, 117);
        border: 1px solid white;
        border-radius: 10px;
        width: 50%;
        margin: 3%;
        padding: 2%;
    }
    
    .service-part{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .svc{
        width: 30%;
    }
    /* Popular foods section */
    .title-popular{
        text-align: center;
        font-size: x-large;
        margin-top: 30px;
    }
    nav.nav-foods{
        display: flex;
        justify-content: space-evenly;
        background-color: red;
        border: none;
        border-radius: 15px;
    }
    nav.nav-foods button{
        width: 10%;
        margin: auto 0;
        padding: 5px;
    }
    
    #btn-all{
        font-size: smaller;
    }
    .burgers-desktop{
        display: none;
    }
    .burgers-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .burgers-mobile img:hover{
        transition: 1s ease-in-out;
        transform: translateY(-20px);
    }
    .row1, .row2, .row3{
        box-sizing: border-box;
        display: flex;
        margin: 3%;
    }
    
    .burger{
        border: 1px solid red;
        text-align: center;
        font-size: small;
    }
    
    /* Hoot Pizza section */
    .hoot-pizzas{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .pizza{
        width: 94%;
        margin: 3%;
    }
    /* Dinks Section*/
    .drinks{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .drinks img{
        width: 100%;
    }
    
    .drink{
        border: 1px solid red;
        text-align: center;
        margin: 3%;
        padding: 1%;
        width: 95%;
        transition: transform .4s
    }
    .cart{
        display: flex;
       
    }

    .price{
        margin-top: 25px;
        font-size: x-small;
    }

    .burgers-mobile .price{
        margin-top: 20px;
    }
    
    .btn-cart{
        background-color: red;
        border: none;
        color: white;
        border-radius: 25px;
        font-size: xx-small;
        margin-top: 5%;
        margin-bottom: 7%;
        padding: 10px 25px;
        cursor: pointer;
    }
    
    /* Footer */
    footer{
        background-color: rgb(231, 173, 173);
        box-sizing: border-box;
        margin-top: 3%;
    }

    .footer1{

        display: flex;
        flex-direction: column;

    }
    .eat-drink, .hour-deliver, .contact, .newsletter{
        margin-left: 50px;
    }
    div.eat-drink h2{
        font-size: large;
        margin: 5% 5% 5% 0;
    
    }
    
    .hour-deliver{
        margin-left: 50px;
    }
    
    div.hour-deliver h2{
        font-size: smaller;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    
    .desc{
        font-size: x-small;
        margin: 0;
    }
    
    .date{
    
        font-weight: bold;
        margin: 0;
    }
    .femme, .hour{
        font-size: x-small;
        margin-top: 0;
    }
    
    div.contact h2{
        font-size: smaller;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .yde{
        font-size: x-small;
        font-weight: bold;
        margin: auto;
    }
    
    .phone, .eatdrink{
        font-size: x-small;
        font-weight: bold;
    }
    
    div.contact{
        margin-bottom: 20px;
    }
    .phone{
        line-height: 35px;
    }
    div.newsletter h2{
        font-size: smaller;
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    .news{
        font-size: x-small;
    }
    .phone-email{
        font-weight: bold;
        font-size: smaller;
    }
    
    input{
        font-size: smaller;
        text-align: left;
        width: 100%;
        padding: 3%;
        border: 1px solid white;
        border-radius: 10px;
    }

    .social-media{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .social{
        margin-top: 0;
        font-size: smaller;
    }

    /* div.social ul li:first-child{
        font-size: smaller;
    } */
    

    hr{
        display: none;
    }
    
  
}