@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    border: 1px solid red;
    font-family: 'Roboto';
}
.container{
    width: 992px;
    box-sizing: border-box;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px 0 0 0;
    
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h2
{
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: bold;
}

/* Navigation */

nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
   
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav li{
    margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: red;
    border: 1px solid white;
    border-radius: 10px 10px;
    padding: 10px;
}

#toggle-btn {
    display: none;
    width: 48px;
    height: 48px;
}

.panier{
    font-size: x-large;
    display: flex;
}

.fa1{
    margin: 10%;
}
sup{
    font-size: small;
}
#count{
    position: absolute;
    top: 40px;
    right: 145px;
    bottom: auto;
    left: auto;
    background-color: red;
    color: white;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

/* Home section */

.home{
    box-sizing: border-box;
    display: flex;
}

.texte{
    width: 60%;
}

div.texte p:last-child{
    padding: 5%;
    font-size: large;
}

.hero{

   width: 40%;
   
}

.hero-img{
    width: 100%;
    box-sizing: border-box;
}

.font-black{
    font-size: x-large;
    font-weight: bold;
}

.title{
    font-size: x-large;
}

.faim{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}

.btn-commande{
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    padding: 10px;
    width: 50%;
    border: none;
    transition: transform .4s;
    cursor: pointer;
}

.btn-commande:hover{
    background-color: rgb(27, 21, 110);
    transform: scale(1.2);
}

.deliver{
   display: flex;
   align-items: center;
}

/* .fa-care{
    width: 50%;
}

.fa-checke{
    width: 50%;
} */

.fa-care{
    margin-right: 50px;
}

.fa-red{
    display: inline-flex;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 100%;
}


/* Service section */

.services{
    margin-top: 5%;
}

.svc{
    width: 50%;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(251, 117, 117);
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    margin: 1%;
    padding: 1%;
}

.categories-mobiles{
    display: none;

}

.category:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
    cursor: pointer;
}

div.category img{
   width:20%;
}

.service-description{
    margin: 10% 0 0 0;
    text-align: center;
}

.title-red{

    color: red;
}

.service-part{
    display: flex;
    flex-direction: row;
    margin: 5% 0 0 0;
    
}

.service{
    text-align: center;
    margin: 5%;
}

.service-livraison{
    margin-left: 0;
}

.service-ramassage{
    margin-right: 0;
}


/* Section Pizza Popular Food  */
.popular-food{
    border: 2px solid pink;
}

.foods{
    margin-top: 2%;
}

.title-popular{
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
}

nav.nav-foods{
    display: flex;
    justify-content: center;
    background-color: red;
    border: 1px solid white;
    border-radius: 15px;
}
nav.nav-foods button{
    width: 5%;
    margin: auto 0;
    padding: 5px;
}
nav.nav-foods ul li{
    align-items: center;
    margin: 0;
    
}

nav.nav-foods ul li a{
    color: white;
    border: none;
    cursor: pointer;
}
.list-img{
    width: 15px;
}

#btn-all{
    font-size: large;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.burgers{
    margin: 1%;
}

.burgers img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}
.row1, .row2{
    box-sizing: border-box;
    display: flex;
}

.row1{
    margin-bottom: 1%;
}

.burger{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
}


div.burger img{
    width: 50%;
}
.hoot-pizzas{
    box-sizing: border-box;
    display: flex;
    margin: 1%;
}

.hoot-pizzas img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}

.pizza{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 30%;
}


div.pizza img{
    width: 50%;
}

.drinks{
    box-sizing: border-box;
    display: flex;
    margin: 1%;
}

.drinks img{
    width: 250px;
    height: 250px;
}

.drinks img:hover{
    transition: 1s ease-in-out;
    transform: translateY(-20px);
}

.drink{
    border: 1px solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 30%;
    transition: transform .4s
}



.cart{
    display: flex;
    justify-content: space-between;
}


.price{
    font-size: larger;
    font-weight: bold;
    color: red;
}

.btn-cart{
    background-color: red;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 10px 25px;
    cursor: pointer;
}


/* Footer */
footer{
    background-color: rgb(243, 113, 113);
    box-sizing: border-box;
    margin-top: 3%;
    width: 100%;
}

.footer1{

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 992px;
}

.eat-drink, .hour-deliver, .contact, .newsletter{
    width: 25%;
}

div.eat-drink h2{
    font-size: 1.1em;
    margin: 0;

}

.hour-deliver{
    margin-left: 50px;
}

div.hour-deliver h2{
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 5px;
}


.desc{
    font-size: small;
    margin: 0;
}

.date{

    font-weight: bold;
    margin: 0;
}
.femme, .hour{
    font-size: x-small;
    margin-top: 0;
}
/* .contact{
    margin-left: -5px;
} */
div.contact h2{
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 5px;
}

.yde{
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.phone, .eatdrink{
    font-size: small;
    font-weight: bold;
}

.phone{
    margin-bottom: 0;
}

div.newsletter h2{
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 5px;
}

.news{
    font-size: small;
}
.phone-email{
    font-weight: bold;
    font-size: smaller;
}

input{
    font-size: larger;
    text-align: center;
    width: 100%;
    padding: 3%;
    border: 1px solid white;
    border-radius: 25px 25px;
}

.separateur-social{
    display: flex;
    flex-direction: column;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    margin-top: 0;
}

div.social ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}



div.social ul li a{
    color: white;
    background-color: red; 
    border: none;
    border-radius: 40%;
    padding: 0;
}

/* Gestion du responsive sur tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {

    body{
        background-color: blue;
    }
}

/* Gestion du responsive sur telephone */
@media screen and (max-width: 767px) {
        
    body{
        background-color: yellow;
    }

    .container{
        width: auto;
        margin: auto 0;
        padding: 0 15%;
    }

    /* Header */

    .fa1{
        margin: 3%;
    }

    #nav-desktop{
        display: none;
    }
    


    #toggle-btn {
        display: flex;
    
    }

    /* Home section */

    .home{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        
    }

    .texte{
        width: 100%;
    }

    .hero{

        width: 100%;
    
    }

    .btn-commande{
        border-radius: 25px;
        align-self: center;
        margin: 5px 0 20px 40px;
        padding: 10px;
        border: none;
        transition: transform .4s;
        cursor: pointer;
    }
    
    /* Categories Services Section */
   
    .categories-desktop{
        display: none;

    }

    .categories-mobiles{
        display: block;
    
    }

    .categories{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cat-burger{
        margin-right: 10px ;
        margin-bottom: 10px;
    }

    .category{
        width: 50%;
    }
    
    .service-part{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .svc{
        width: 30%;
    }
    /* Popular foods section */
    .row1, .row2{
        flex-wrap: wrap;
    }


    /* Hoot Pizza section */
    .hoot-pizzas{
       flex-wrap: wrap;
    }

    /* Dinks Section*/
    .drinks{
        flex-wrap: wrap;
    }
     

    /* Footer */
    footer{
        background-color: rgb(231, 173, 173);
        box-sizing: border-box;
        margin-top: 3%;
        max-width:767px;
    }

    .footer1{

        display: flex;
        flex-direction: column;
         
    }
    
    
    hr{
        visibility: hidden;
    }
    
  
}